.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
} 

h1 {
    font-weight: bold;
    color: #317AC1;
    font-size: 2rem;
    margin: 2rem 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 27rem;
    background-color: #317AC1;
    border-radius: 1rem;
    margin: 2rem 0;
}

.main_select {
    display: flex;
}
select, input {
    height: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    border-radius: 1.1rem;
    border: none;
    font-weight: 700;
    padding-left: 1rem;
    margin-top: 2rem;
}
#text_area {
    width: 100%;
    border-radius: 1rem;
    resize: none;
}

button {
    background: rgb(8, 172, 95);
    padding: 1rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1.2rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.text_view {
    margin-top: 3rem;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text_view-p {
    text-align: center;
}